#!/bin/bash
# iptables firewall for common LAMP servers.
#
# This file should be located at /etc/firewall.bash, and is meant to work with
# Jeff Geerling's firewall init script.
#
# Common port reference:
#   22: SSH
#   25: SMTP
#   80: HTTP
#   123: NTP
#   443: HTTPS
#   2222: SSH alternate
#   4949: Munin
#   6082: Varnish admin
#   8080: HTTP alternate (often used with Tomcat)
#   8983: Tomcat HTTP
#   8443: Tomcat HTTPS
#   9000: SonarQube
#
# @author Jeff Geerling
set -ex
# No spoofing.
if [ -e /proc/sys/net/ipv4/conf/all/rp_filter ]
then
for filter in /proc/sys/net/ipv4/conf/*/rp_filter
do
echo 1 > $filter
done
fi

{% set restore_args='/etc/firewall.rules' %}
{% if firewall_keep_old_rules %}
  {% set restore_args='--noflush /etc/firewall.rules' %}
{% endif %}

iptables-restore {{ restore_args }}

{% if firewall_ipv6 %}
# Configure IPv6 if ip6tables is present.
if [ -x "$(which ip6tables-restore 2>/dev/null)" ]; then
  ip6tables-restore {{ restore_args }}
fi
{% endif %}
